<!doctype html>
<html lang="en" ng-app="angApp">
<head>
<meta charset="utf-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>	
	<script src="js/angApp.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/angular-cookies-1.2.3.js"></script>
	<script src="js/angular-resource-1.2.3.js"></script>
	<script src="js/angular-route-1.2.3.js"></script>
<!-- 	<script src="js/bootstrap-3.1.1.min.js"></script> -->

    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

<body>
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
  	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li ><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    	<li ng-if="hasRole('ROLE_ADMIN')"><a href="#manageUser">Manage Users</a></li>
    	<li ng-if="hasRole('ROLE_ADMIN')"><a href="#manageRole">Manage Roles</a></li>
    	<li ng-if="hasRole('ROLE_USER')"><a href="#updateUser" ng-click="setUser(user)" >Update Profile</a></li>
    	<li ng-if="hasRole('ROLE_ADMIN')"><a href="#addRole">Add Role</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
 		<li ng-if="!authenticated"><a href="#register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
 		<li ng-if="!authenticated"><a href="#login" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
 		<li ng-if="authenticated"><a href="#$location.path()"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      	<li ng-if="authenticated"><a href="#home" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div ng-view></div>
</body>
</html>