<!DOCTYPE html>
<html>
    <head>
        <title>Manage Users</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->
    </head>

    <body ng-app="angApp">
<div ng-show="error" class="alert alert-danger"><strong>{{error}}</strong></div>
<div ng-show="success" class="alert alert-success"><strong>{{success}}</strong></div>
	    <table class="table table-striped table-hover table-bordered" ng-init="refreshData()">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Email</th>
	        <th>Username</th>
	        <th>Roles</th>
	        <th>Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="x in userInfo.userDtos">
	        <td  ng-bind="$index+1"></td>
			<td>{{ x.firstName }}</td>
			<td>{{ x.lastName }}</td>
			<td>{{ x.email }}</td>
			<td>{{ x.username }}</td>
			<td><span ng-repeat="role in x.roles"><span>{{ role.name }}&nbsp;</span></span></td>
			<td>
				<a href="#updateUser" ng-click="setUser(x)" class="btn btn-default btn-sm purple"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				<a href="#deleteUser" ng-click="deleteUser(x)" class="btn btn-default btn-sm red"><span class="glyphicon glyphicon-trash"></span> Delete</a>
			</td>
	      </tr>
	    </tbody>
	    </table>
    </body>
</html>