<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!-- <context:annotation-config/> -->
<!-- <context:component-scan base-package="com.example.bean"/> -->
   <bean id="vehicle" scope="singleton" init-method="init" destroy-method="destroy"
       class="com.example.bean.spring.Vehicle">
       <property name="car" ref="car"/> 
   </bean>

	<bean id="car"  scope="prototype"
       class="com.example.bean.spring.Car">
       <property name="carNo" value="#{T(java.lang.Math).random()}"></property>
   </bean>
   
   <bean id="abstractVehicle"
		class="com.example.bean.spring.AbstractVehicle">
		<lookup-method name="createCar" bean="car"/>
   </bean>
   
   <bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>\messages\custom</value>
		</property>
	</bean>
</beans>